@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  /* background-color: #f9dcc5; Use any color */
  background-image: url('/images/bgc4.jpeg');
  margin: 0;
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
}
.login-background,
.signup-background {
  background-image: url('/images/logRegBg.jpg');
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

.Dropdown{
  position: absolute;
  top:3rem;
  left: 0rem;
  width:180px;
  padding: 15px;
  border-radius: 15px;
  /* background-color: rgb(250, 224, 158); */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.Dropdow::before{
  content: '';
  position: absolute;
  top:-1rem;
  left: 10rem;
  width:180px;
  height: 25px;
  transform: rotate(45deg);
  background-color: white;
  border-left:1px solid gray;
  border-top:1px solid gray;
  cursor: pointer;
}

