@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #f9dcc5; Use any color */
  background-image: url('/images/bgc4.jpeg');
  margin: 0;
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
}
html {
  scroll-behavior: smooth;
}
